<aside class="control-sidebar control-sidebar-dark">
    @* BEGIN Tabs *@





    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">

       <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab">
            
            
            
          <!--   <i class="fa fa-home"></i></a></li>-->
        




      <!--  <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>-->


    </ul>





    @* END Tabs *@




    <div class="tab-content">
        @* BEGIN Home Tab *@
        <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Quotes For the Day</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript::;">

                  <!--<i class="menu-icon fa fa-birthday-cake bg-red"></i>-->      

                        <div class="menu-info">


                            <h4 class="control-sidebar-subheading">– H. Jackson Brown Jr.</h4>

                            <p> “Don’t say you don’t have enough time. You have exactly the same number of hours per day that were given to Helen Keller, Pasteur, Michaelangelo, Mother Teresea, Leonardo da Vinci, Thomas Jefferson, and Albert Einstein.”</p>

                            <br />

                            <br />
                            <h4 class="control-sidebar-subheading">– Vincent Van Gogh</h4>

                            <p>“If you hear a voice within you say ‘you cannot paint,’ then by all means paint, and that voice will be silenced.”</p>
                            <br />
                            <br />

                            <h4 class="control-sidebar-subheading">– Winston Churchill</h4>

                            <p>“Success consists of going from failure to failure without loss of enthusiasm.”</p>

                            <br />
                            <br />

                            <h4 class="control-sidebar-subheading">― Stephen Richards, The Secret of Getting Started: Strategies to Triumph over Procrastination</h4>

                            <p>“Habitual procrastinators will readily testify to all the lost opportunities, missed deadlines, failed relationships and even monetary losses incurred just because of one nasty habit of putting things off until it is often too late.” </p>




                           

                        </div>
                    </a>
                </li>
            </ul>
            <!--      <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript::;">
                        <h4 class="control-sidebar-subheading">
                            Custom Template Design
                            <span class="pull-right-container">
                                <span class="label label-danger pull-right">70%</span>
                            </span>
                        </h4>

                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                        </div>
                    </a>
                </li>
            </ul>-->
      
        </div>
        @* END Home Tab *@
        <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>



        @* BEGIN Settings Tab *@

        <!--    <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
                <h3 class="control-sidebar-heading">General Settings</h3>

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Report panel usage
                        <input type="checkbox" class="pull-right" checked>
                    </label>

                    <p>
                        Some information about this general settings option
                    </p>
                </div>
            </form>
        </div>-->
    
        @* END Settings Tab *@




    </div>
</aside>
@* Add the sidebar's background. This div must be placed immediately after the control sidebar *@
<div class="control-sidebar-bg"></div>